@charset 'utf-8';


.wrap {
	width: 1190px;
	margin: 0 auto
}

.wrap h2 {
	padding: 44px 0;
	text-align: center;
	font-size: 26px;
	font-weight: 400;
	color: #333
}

.grey-section {
	background: #f5f5f5
}

.white-section {
	background: #fff
}


.section-header {
	position: relative
}

.section-header a {
	position: absolute;
	right: 0;
	top: 50px;
	padding: 3px;
	font-size: 12px
}

.mode-list {
	padding-bottom:2em;
	border-bottom: 1px solid #d9deea
}

.mode-col {
	float: left;
	padding-top: 50px;
	width: 20%;
	height: 35px;
	background-position: top center;
	background-repeat: no-repeat;
	font-size: 16px;
	color: #919fbc;
	text-align: center;
	transition: all .2s
}

.mode-col span {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding: 0 5px;
	width: auto;
	height: 35px;
	border-bottom: 2px solid transparent
}

.mode-col span:after {
	display: none;
	content: '';
	position: absolute;
	bottom: -6px;
	left: 50%;
	margin-left: -5px;
	border: 5px solid transparent;
	border-bottom-width: 0;
	border-left-color: transparent;
	border-right-color: transparent
}

.mode-col:hover span {
	
}

.mode-darkblue {
	background: url(../images/pic05.png) top center no-repeat
}

.mode-blue {
	background: url(../images/pic01.png) top center no-repeat
}

.mode-yellow {
	background: url(../images/pic02.png) top center no-repeat
}

.mode-purple {
	background: url(../images/pic03.png) top center no-repeat
}

.mode-red {
	background: url(../images/pic04.png) top center no-repeat
}

.mode-blue.mode-on {
	background-image: url(../images/picon01.png);
	color: #3998f0
}

.mode-yellow.mode-on {
	background-image: url(../images/picon02.png);
	color: #fe9901
}

.mode-purple.mode-on {
	background-image: url(../images/picon03.png);
	color: #635ecd
}

.mode-red.mode-on {
	background-image: url(../images/picon04.png);
	color: #f84656
}

.mode-darkblue.mode-on {
	background-image: url(../images/picon05.png);
	color: #296189
}

.mode-blue.mode-on span {
	border-bottom-color: #3998f0
}

.mode-yellow.mode-on span {
	border-bottom-color: #fe9901
}

.mode-purple.mode-on span {
	border-bottom-color: #635ecd
}

.mode-red.mode-on span {
	border-bottom-color: #f84656
}

.mode-darkblue.mode-on span {
	border-bottom-color: #296189
}

.mode-col.mode-on span:after {
	display: block
}

.mode-blue.mode-on span:after {
	border-top-color: #3998f0
}

.mode-yellow.mode-on span:after {
	border-top-color: #fe9901
}

.mode-purple.mode-on span:after {
	border-top-color: #635ecd
}

.mode-red.mode-on span:after {
	border-top-color: #f84656
}

.mode-darkblue.mode-on span:after {
	border-top-color: #296189
}

.mode-detail {
	padding-top: 70px;
	height: 520px;
	background: center right no-repeat
}

.mode-detail-content {
	display: none;
	width: 410px
}

.mode-detail-content:first-child {
	display: block
}

.mode-detail-content h3 {
	margin: 20px 0;
	font-size: 20px;
	font-weight: 700;
	color: #333
}

.mode-detail-content p {
	font-size: 14px;
	line-height: 2
}

.mode-detail-content .learn-more {
	display: block;
	margin-top: 20px;
	padding-left: 30px;
	width: 130px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 14px;
	background-repeat: no-repeat;
}

.mode-detail-content .learn-more:hover {
	background-color: #feca5a;
	background-repeat: no-repeat;
}

.normal-question {
	padding-bottom: 70px
}

.question-area {
	width: 28%;
	padding-left: 8%
}

.question-area:first-child {
	padding-left: 0
}

.question-area h3 {
	padding: 10px 0;
	color: #333;
	font-weight: 700;
	font-size: 16px
}

.question-link {
	display: block;
	margin: 10px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #666
}

.question-link:before {
	content: '· ';
	font-weight: 700
}

.model {
	padding: 20px 0
}

.model h3 {
	padding: 10px;
	text-align: center;
	color: #333;
	font-size: 26px;
	font-weight: 400
}

.model-body {
	background: #fff;
	padding: 35px 30px 40px
}

.model-body p {
	line-height: 2.5;
	font-size: 14px
}

.model-body p.sub-content {
	text-indent: 1em;
	font-size: 12px;
	color: #999
}

.require-content {
	max-height: 750px;
	overflow: hidden;
	background: #fff;
}

.require-content aside {
	margin-bottom: -9999px;
	padding-bottom: 9999px;
	width: 180px;
	background: #ebf4fd
}

.require-content aside h4 {
	height: 48px;
	line-height: 48px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	font-weight: 400;
	background: #3998f0
}

.menu-bar {
	max-height: 646px;
	background: #ebf4fd;
	overflow: hidden
}

.menu-list a {
	display: block;
	padding-left: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 34px;
	line-height: 34px;
	border-left: 3px solid transparent;
	font-size: 14px;
	color: #666;
	transition: all .3s
}

.menu-list a.menu-on, .menu-list a:hover {
	border-left-color: #ffae00;
	background: #fff;
	color: #ffae00;
	font-weight: 700
}

.menu-operate {
	display: none;
	height: 40px
}

.menu-operate a {
	float: left;
	position: relative;
	width: 50%;
	height: 40px;
	overflow: hidden;
	text-indent: -99em;
	background: #80bdf5
}

.menu-operate a.move-disabled {
	background: #9EC3E5
}

.menu-operate .move-up:after {
	content: '';
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -10px;
	height: 0;
	width: 0;
	border: 10px solid #fff;
	border-top: 0;
	border-left-color: transparent;
	border-right-color: transparent
}

.menu-operate .move-down:after {
	content: '';
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -10px;
	height: 0;
	width: 0;
	border: 10px solid #fff;
	border-bottom: 0;
	border-left-color: transparent;
	border-right-color: transparent
}

.require-detail {
	float: left;
	width: 1000px;
	padding-left: 10px;
	background: #fff;
	max-height: 734px;
	overflow-y: auto
}

.require-detail :last-child {
	margin-bottom: 30px
}

.require-detail .table-bordered th {
	background: #3998f0;
	border: 1px solid #75b7f5;
	color: #fff;
	font-weight: 400
}

.join-now {
	display: block;
	margin: 20px auto;
	padding: 11px 20px;
	min-width: 180px;
	width: 180px;
	*width: 180px !important;
	height: 27px;
	border-bottom: 2px solid #3d8ad1;
	background: #3998f0;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	text-align: center
}

.join-now:hover {
	background: #4999e3;
	color: #fff
}

.join-now:active {
	background: #1280e6;
	color: #fff
}

.plan-banner {
	overflow: hidden;
	background: url(images/plan-banner.png) top center no-repeat;
	height: 301px
}

.plan-banner img {
	margin: 0 auto
}

.plan-detail {
	margin: 20px auto 40px;
	padding: 10px 0 20px;
	background: #fff;
	width: 1190px
}

.plan-detail h3 {
	margin: 10px 20px 20px;
	font-size: 18px;
	color: #333;
	font-weight: 700
}

.plan-result .table {
	margin: 0 20px;
	width: 1150px
}

.plan-result .table th {
	font-size: 14px;
	color: #999;
	font-weight: 700;
	border-bottom-color: #b3b3b3
}

.checked-icon {
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	text-indent: -99em;
	overflow: hidden;
	background-repeat: no-repeat;
}

.plan-select {
	margin: 0 20px;
	margin-top: 10px \9;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee
}

.plan-select label+label {
	margin-left: 20px
}

.plan-select select {
	padding: 0 5px;
	padding: 5px 0 5px \9;
	height: 34px;
	height: 28px \9;
	border: 1px solid #ddd
}

.plan-select select+select {
	margin-left: 10px
}

.plan-select .short-select {
	width: 120px
}

.plan-select .wide-select {
	width: 200px
}

.pagination-bar {
	margin: 0 20px;
	padding-top: 20px;
	padding-bottom: 40px;
	border-top: 1px solid #e6e6e6;
	text-align: right
}

.plan-detail-pop {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 10000;
	background: #fff;
	box-shadow: 1px 1px 1px #ddd, -1px -1px 1px #ddd;
	border: 1px solid #ddd;
	padding: 0 20px;
	width: 510px;
	transform: translateY(-50%) translateX(-50%);
}

.plan-detail-pop h3 {
	height: 45px;
	line-height: 45px;
	color: #333;
	font-size: 16px;
	border-bottom: 1px solid #e3e3e3
}

.plan-detail-pop .close-pop {
	position: absolute;
	top: 15px;
	right: 20px;
	width: 15px;
	height: 15px;
	font-size: 20px;
	line-height: 20px;
	text-indent: -99em;
	overflow: hidden;
	background-repeat: no-repeat;
}

.plan-detail-pop .close-pop:hover {
	background-repeat: no-repeat;
}

.plan-detail-pop-body {
	padding-top: 10px;
	padding-bottom: 40px;
	padding-right: 40px
}

.plan-detail-pop-body .col-container {
	overflow: hidden;
	margin: 10px 0
}

.plan-detail-pop-body .col-3 {
	float: left;
	width: 25%;
	text-align: right
}

.plan-detail-pop-body .col-9 {
	float: left;
	width: 75%
}

.plan-detail-pop-body .pop-links {
	margin-top: 15px
}

.plan-detail-pop-body .link {
	display: inline-block;
	vertical-align: middle;
	width: 120px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border: 1px solid transparent;
	transition: all .3s
}

.plan-detail-pop-body .link+.link {
	margin-left: 20px
}

.plan-detail-pop-body .link-orange {
	background: #ffae00;
	border-color: #ffae00;
	color: #fff
}

.plan-detail-pop-body .link-orange:hover {
	background: #ffc000;
	border-color: #ffc000
}

.plan-detail-pop-body .link-orange:active {
	background: #f0a70a;
	border-color: #f0a70a
}

.plan-detail-pop-body .link-ghost {
	background: #fff;
	color: #2f92ef;
	border-color: #2f92ef
}

.plan-detail-pop-body .link-ghost:hover {
	background: #2f92ef;
	color: #fff;
	border-color: #2f92ef
}

.plan-detail-pop-body .link-ghost:active {
	background: #0083ff;
	color: #fff;
	border-color: #0083ff
}

.mode-nav {
	height: 50px;
	background: #2b3442
}

.mode-nav nav {
	display: block;
	width: 1190px;
	margin: 0 auto
}

.mode-nav-item {
	position: relative;
	width: 140px;
	text-align: center;
	color: #abaeb1;
	line-height: 50px;
	font-size: 16px;
	transition: all .3s
}

.mode-nav-item:hover, .mode-nav-on {
	background: #202833;
	color: #fff
}

.mode-nav-item:hover:after, .mode-nav-on:after {
	position: absolute;
	content: '';
	bottom: -5px;
	left: 50%;
	margin-left: -5px;
	border: 5px solid #202833;
	border-bottom: 0;
	border-left-color: transparent;
	border-right-color: transparent
}

.mode-banner {
	height: 200px;
	background: #3998f0 url(images/banner-blue.png) top center no-repeat
}

.mode-banner h2 {
	padding-top: 23px;
	text-align: center;
	font-size: 34px;
	font-weight: 700;
	color: #fff
}

.mode-banner p {
	width: 400px;
	margin: 0 auto 15px;
	text-align: center;
	color: #fff;
	opacity: .7
}

.mode-banner .btn {
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	background: #fff;
	font-size: 18px;
	color: #333;
	font-weight: 700
}

.mode-banner .btn:active {
	background: #f0f0f0
}

.view-flow-more {
	display: block;
	margin-top: -20px;
	text-align: right;
	padding: 0 0 5px;
	font-size: 14px
}

.flow-step {
	position: relative;
	width: 290px;
	height: 300px;
	margin-left: 10px;
	background: #fff
}

.flow-step:first-child {
	margin-left: 0
}

.flow-step:after {
	position: absolute;
	content: '';
	top: 50%;
	margin-top: -10px;
	left: -3px;
	width: 12px;
	height: 20px;
	background-repeat: no-repeat;
}

.flow-step:first-child:after {
	display: none
}

.flow-step-bg {
	margin: 30px auto 26px;
	height: 70px;
	width: 70px
}

.flow-step h4 {
	text-align: center;
	font-size: 18px;
	color: #666;
	font-weight: 700;
	margin-bottom: 14px
}

.flow-step-links {
	margin-left: 85px;
	width: 130px;
	padding: 0
}

.flow-step-link {
	display: block;
	line-height: 1.5;
	padding-left: 16px;
	font-size: 14px;
	background-repeat: no-repeat;
}

.flow-step-link a, .flow-step-link a:visited {
	color: #999
}

.flow-step-link a:hover {
	color: #feca5a
}

.fee-pic {
	display: block;
	margin: 5px auto 0
}

p.question-title {
	margin-top: 20px;
	line-height: 1.5;
	font-size: 16px;
	color: #333
}

p.question-answer {
	line-height: 1.5;
	font-size: 14px;
	color: #666
}

p.question-title:first-child {
	margin-top: 0
}

.shop-introduce {
	margin-left: 13px;
	width: 388px;
	height: 423px;
	background: #fff
}

.shop-introduce:first-child {
	margin-left: 0
}

.shop-introduce h4 {
	height: 54px;
	line-height: 50px;
	background: #2f93ef url(images/shop-blue.png) left bottom no-repeat;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	text-align: center
}

.shop-introduce-title {
	margin-top: 10px;
	padding: 0 20px 5px;
	color: #333;
	font-size: 16px
}

.shop-introduce h4+.shop-introduce-title {
	margin-top: 15px
}

.shop-introduce-content {
	padding: 0 20px;
	color: #666;
	font-size: 14px
}

.view-fee-detail {
	margin-top: 15px;
	padding-left: 20px;
	line-height: 2;
	font-size: 14px;
	width: 100px
}

.view-fee-detail a {
	background: #f5f5f5
}

.collapse-detail {
	background-repeat: no-repeat;
}

.expand-detail {
	background-repeat: no-repeat;
}

.aside-toolbar {
	position: fixed;
	right: 0;
	top: 50%;
	margin-right: 20px;
	width: 40px
}

.aside-toolbar-link {
	display: block;
	height: 28px;
	width: 28px;
	margin-top: 1px;
	padding: 6px;
	font-size: 12px;
	text-align: center;
	color: #fff;
	line-height: 14px
}

.toolbar-top {
	background-color: #ccc;
	text-indent: -99em;
	overflow: hidden;
	background-repeat: no-repeat;
}

.toolbar-service {
	background-color: #ccc;
	text-indent: -99em;
	overflow: hidden;
	background-repeat: no-repeat;
}

.toolbar-feedback {
	background-color: #ccc;
	text-indent: -99em;
	overflow: hidden;
	background-repeat: no-repeat;
}

.toolbar-help {
	background-color: #ccc;
	text-indent: -99em;
	overflow: hidden;
	background-repeat: no-repeat;
}

.aside-toolbar-link:hover {
	text-indent: 0;
	background: #ccc;
	color: #fff
}

.mode-pingtai .mode-banner {
	background: #3998f0 url(images/banner-blue.png) top center no-repeat
}

.mode-pingtai .mode-banner .btn {
	color: #3998f0
}

.mode-pingtai .flow-step:after {
	background-repeat: no-repeat;
}

.mode-pingtai .step-one {
	background-repeat: no-repeat;
}

.mode-pingtai .step-two {
	background-repeat: no-repeat;
}

.mode-pingtai .step-three {
	background-repeat: no-repeat;
}

.mode-pingtai .step-four {
	background-repeat: no-repeat;
}

.mode-pingtai .aside-toolbar-link:hover {
	background: #3c9df1
}

.mode-temai .mode-banner {
	background: #f84656 url(images/banner-red.png) top center no-repeat
}

.mode-temai .mode-banner .btn {
	color: #f84656
}

.mode-temai .flow-step:after {
	background-repeat: no-repeat;
}

.mode-temai .step-one {
	background-repeat: no-repeat;
}

.mode-temai .step-two {
	background-repeat: no-repeat;
}

.mode-temai .step-three {
	background-repeat: no-repeat;
}

.mode-temai .step-four {
	background-repeat: no-repeat;
}

.mode-temai .aside-toolbar-link:hover {
	background: #f84656
}

.mode-temai .join-now {
	background: #f84656;
	border-bottom: 2px solid #c73d4c
}

.mode-temai .join-now:active {
	background: #DB4754
}

.mode-temai .require-content aside h4, .mode-temai .require-detail .table-bordered th
	{
	background: #f84656
}

.mode-temai .require-detail .table-bordered th {
	border-color: #ff6775
}

.mode-temai .menu-bar, .mode-temai .require-content aside {
	background: #feecee
}

.mode-temai .menu-operate a {
	background: #fa8893
}

.mode-temai .menu-operate a.move-disabled {
	background: #fcbac0
}

.mode-temai .menu-list a {
	color: #666
}

.mode-temai .menu-list a.menu-on, .menu-list a:hover {
	color: #ffae00
}

.mode-swl .mode-banner {
	background: #366f97 url(images/banner-darkblue.png) top center no-repeat
}

.mode-swl .mode-banner .btn {
	color: #366f97
}

.mode-swl .flow-step:after {
	background-repeat: no-repeat;
}

.mode-swl .step-one {
	background-repeat: no-repeat;
}

.mode-swl .step-two {
	background-repeat: no-repeat;
}

.mode-swl .step-three {
	background-repeat: no-repeat;
}

.mode-swl .step-four {
	background-repeat: no-repeat;
}

.mode-swl .aside-toolbar-link:hover {
	background: #366f97
}

.mode-swl .join-now {
	background: #366f97;
	border-bottom: 2px solid #1b4868
}

.mode-swl .join-now:active {
	background: #4A7FA4
}

.mode-swl .require-content aside h4, .mode-swl .require-detail .table-bordered th
	{
	background: #366f97
}

.mode-swl .require-detail .table-bordered th {
	border-color: #719cba
}

.mode-swl .menu-bar, .mode-swl .require-content aside {
	background: #e8eef1
}

.mode-swl .menu-operate a {
	background: #7092a9
}

.mode-swl .menu-operate a.move-disabled {
	background: #acbfcd
}

.mode-swl .menu-list a {
	color: #666
}

.mode-swl .menu-list a.menu-on, .menu-list a:hover {
	color: #ffae00
}

.mode-swl .shop-introduce h4 {
	background: #286189 url(images/shop-darkblue.png) bottom center
		no-repeat
}

.mode-ziying .mode-banner {
	background: #fcb13f url(images/banner-yellow.png) top center no-repeat
}

.mode-ziying .mode-banner .btn {
	color: #fcb13f
}

.mode-ziying .flow-step:after {
	background-repeat: no-repeat;
}

.mode-ziying .step-one {
	background-repeat: no-repeat;
}

.mode-ziying .step-two {
	background-repeat: no-repeat;
}

.mode-ziying .step-three {
	background-repeat: no-repeat;
}

.mode-ziying .step-four {
	background-repeat: no-repeat;
}

.mode-ziying .aside-toolbar-link:hover {
	background: #fcb13f
}

.mode-ziying .join-now {
	background: #fcb13f;
	border-bottom: 2px solid #e6a33d
}

.mode-ziying .join-now:active {
	background: #e6a33d
}

.mode-ziying .require-content aside h4, .mode-ziying .require-detail .table-bordered th
	{
	background: #fcb13f
}

.mode-ziying .require-detail .table-bordered th {
	border-color: #ffc266
}

.mode-ziying .menu-bar, .mode-ziying .require-content aside {
	background: #fef4e5
}

.mode-ziying .menu-operate a {
	background: #f9ba5c
}

.mode-ziying .menu-operate a.move-disabled {
	background: #fbd7a0
}

.mode-ziying .menu-list a {
	color: #666
}

.mode-ziying .menu-list a.menu-on, .menu-list a:hover {
	color: #ffae00
}

.mode-ziying .shop-introduce h4 {
	background: #286189 url(images/shop-darkblue.png) bottom center
		no-repeat
}

.mode-haiwaigou .mode-banner {
	background: #6b67d3 url(images/banner-purple.png) top center no-repeat
}

.mode-haiwaigou .mode-banner .btn {
	color: #6b67d3
}

.mode-haiwaigou .flow-step:after {
	background-repeat: no-repeat;
}

.mode-haiwaigou .step-one {
	background-repeat: no-repeat;
}

.mode-haiwaigou .step-two {
	background-repeat: no-repeat;
}

.mode-haiwaigou .step-three {
	background-repeat: no-repeat;
}

.mode-haiwaigou .step-four {
	background-repeat: no-repeat;
}

.mode-haiwaigou .aside-toolbar-link:hover {
	background: #6b67d3
}

.mode-haiwaigou .join-now {
	background: #6b67d3;
	border-bottom: 2px solid #514cb4
}

.mode-haiwaigou .join-now:active {
	background: #514cb4
}

.mode-haiwaigou .require-content aside h4, .mode-haiwaigou .require-detail .table-bordered th
	{
	background: #6b67d3
}

.mode-haiwaigou .require-detail .table-bordered th {
	border-color: #deddf9
}

.mode-haiwaigou .menu-bar, .mode-haiwaigou .require-content aside {
	background: #efeffa
}

.mode-haiwaigou .menu-operate a {
	background: #9592da
}

.mode-haiwaigou .menu-operate a.move-disabled {
	background: #c2c0ea
}

.mode-haiwaigou .menu-list a {
	color: #666
}

.mode-haiwaigou .menu-list a.menu-on, .menu-list a:hover {
	color: #ffae00
}

.mode-haiwaigou .shop-introduce h4 {
	background: #5954c5 url(images/shop-purple.png) bottom center no-repeat
}

.slide-banner {
	height: 400px;
	position: relative
}

.slide-wrap {
	height: 400px;
	overflow: hidden
}

.slide-link {
	position: absolute;
	top: 0;
	left: 0;
	height: 400px;
	width: 100%;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: top center
}

.slide-dots {
	position: absolute;
	left: 50%;
	bottom: 10px;
	z-index: 200;
	width: auto;
	height: 5px;
	padding: 5px 0
}

.slide-dot {
	float: left;
	width: 30px;
	margin-left: 15px;
	height: 5px;
	background: #eee;
	text-indent: -99em;
	overflow: hidden;
	transition: all .3s
}

.slide-dot:first-child {
	margin-left: 0
}

.slide-dot-on {
	background: #f7b62c
}

.slide-dot:hover {
	background: #f7b62c
}

.cooperation-col .plan {
	background-position: 0px 0px
}

.cooperation-col .standard {
	background-position: -130px 0px
}

.cooperation-col .join {
	background-position: 0px -130px
}

.cooperation-col .mode {
	background-position: -130px -130px
}

.mode-haiwaigou .step-three {
	background-position: -260px 0px
}

.mode-haiwaigou .step-two {
	background-position: -260px -80px
}

.mode-haiwaigou .step-one {
	background-position: -260px -160px
}

.mode-ziying .step-four {
	background-position: 0px -260px
}

.mode-ziying .step-three {
	background-position: -80px -260px
}

.mode-ziying .step-two {
	background-position: -160px -260px
}

.mode-ziying .step-one {
	background-position: -240px -260px
}

.mode-swl .step-four {
	background-position: -340px 0px
}

.mode-swl .step-three {
	background-position: -340px -80px
}

.mode-swl .step-two {
	background-position: -340px -160px
}

.mode-swl .step-one {
	background-position: -340px -240px
}

.mode-temai .step-four {
	background-position: 0px -340px
}

.mode-temai .step-three {
	background-position: -80px -340px
}

.mode-pingtai .step-one {
	background-position: -160px -340px
}

.mode-pingtai .step-two {
	background-position: -240px -340px
}

.mode-pingtai .step-three {
	background-position: -320px -340px
}

.mode-haiwaigou .step-four {
	background-position: -420px 0px
}

.mode-temai .step-one {
	background-position: -420px -80px
}

.mode-temai .step-two {
	background-position: -420px -160px
}

.mode-pingtai .step-four {
	background-position: -420px -240px
}

.mode-detail-content .learn-more {
	background-position: 0px -420px
}

.mode-detail-content .learn-more:hover {
	background-position: -170px -420px
}

.toolbar-feedback {
	background-position: -412px -312px
}

.toolbar-service {
	background-position: -446px -312px
}

.toolbar-top {
	background-position: -412px -346px
}

.toolbar-help {
	background-position: -446px -346px
}

.mode-haiwaigou .flow-step:after {
	background-position: -420px -388px
}

.flow-step:after {
	background-position: -442px -388px
}

.mode-temai .flow-step:after {
	background-position: -442px -388px
}

.mode-swl .flow-step:after {
	background-position: -464px -388px
}

.mode-ziying .flow-step:after {
	background-position: -340px -420px
}

.checked-icon {
	background-position: -362px -420px
}

.mode-pingtai .flow-step:after {
	background-position: -320px -260px
}

.plan-detail-pop .close-pop {
	background-position: -390px -420px
}

.plan-detail-pop .close-pop:hover {
	background-position: -415px -420px
}

.expand-detail {
	background-position: -438px -413px
}

.collapse-detail {
	background-position: -464px -413px
}

.flow-step-link {
	background-position: -500px 4px
}

.cooperation-col .plan, .cooperation-col .standard, .cooperation-col .join,
	.cooperation-col .mode, .mode-haiwaigou .step-three, .mode-haiwaigou .step-two,
	.mode-haiwaigou .step-one, .mode-ziying .step-four, .mode-ziying .step-three,
	.mode-ziying .step-two, .mode-ziying .step-one, .mode-swl .step-four,
	.mode-swl .step-three, .mode-swl .step-two, .mode-swl .step-one,
	.mode-temai .step-four, .mode-temai .step-three, .mode-pingtai .step-one,
	.mode-pingtai .step-two, .mode-pingtai .step-three, .mode-haiwaigou .step-four,
	.mode-temai .step-one, .mode-temai .step-two, .mode-pingtai .step-four,
	.mode-detail-content .learn-more, .mode-detail-content .learn-more:hover,
	.toolbar-feedback, .toolbar-service, .toolbar-top, .toolbar-help {
	background-image: url(images/zhaoshang_z.png)
}

.mode-haiwaigou .flow-step:after, .flow-step:after, .mode-temai .flow-step:after,
	.mode-swl .flow-step:after, .mode-ziying .flow-step:after,
	.checked-icon, .mode-pingtai .flow-step:after, .plan-detail-pop .close-pop,
	.plan-detail-pop .close-pop:hover, .expand-detail, .collapse-detail,
	.flow-step-link {
	background-image: url(images/zhaoshang_z.png)
}

.model_a {
	padding: 5px 10px;
	margin: 0 10px 0 0;
}

.model_b {
	background: #f70;
	color: #fff;
}

/*招商大会详情*/
.meetingDet{padding: 40px 0;}
.meetingDet .pic{width: 550px;height: 416px;overflow: hidden;float: left;}
.meetingDet .detail{float: left;border:1px solid #eee;background: #fff;padding: 20px;margin-left: 20px;width: 578px;height: 374px;position: relative;}
.meetingDet .detail .mark-pic{position: absolute;top: 35px;right: -10px;}
.meetingDet .detail .mark-icon{position: absolute;top: 75px;right: -10px;}
.meetingDet .detail h3{font-size: 20px;font-weight: bold;color: #000;margin-bottom: 12px;}
.meetingDet .detail p{color: #888;margin: 5px 0;}
.meetingDet .detail p img{vertical-align: top;margin-right: 5px;margin-top: 1px;}
.meetingDet .detail .qr{width: 578px;height: 70px;background: #f6f6f6;margin: 0;padding: 0;}
.meetingDet .detail .qr li{float: left;}
.meetingDet .detail .sign{width: 274px;height: 70px;line-height: 70px;padding-left: 26px;}
.meetingDet .detail .sign img{vertical-align: middle;margin-right: 10px;}
.meetingDet .detail .qr-pic{width: 130px;height: 70px;line-height: 70px;text-align: center;cursor: pointer;position: relative;}
.meetingDet .detail .qr-pic .qr-icon{position: absolute;top: 70px;left: 0;width: 130px;background: #fff;height: 117px;padding-top: 10px;overflow: hidden;display: none;}
.meetingDet .detail .qr-pic:hover{background: #fbfbfb;}
.meetingDet .detail .qr-pic:hover .qr-icon{display: block;}
.meetingDet .detail .sign-btn{display: block;width: 180px;padding: 5px 0;font-weight: bold;font-size: 14px;background: #ff7700;color: #fff;text-align: center;border-radius: 20px;}
.project-title{background: #fff;height: 69px;border-bottom: 1px solid #efefef;    line-height: 69px;}
.project-title h3{font-size: 18px;font-weight: bold;color: #333;width: 100px;border-bottom: 4px solid #3092ee;height: 66px;line-height: 80px;text-align: center;}
.project-info{background: #fff;padding-bottom: 60px;}
.project-info p{text-indent:2em ;font-size: 14px;line-height: 26px;color: #666;padding: 30px 0;}

.tipIcon{ display: inline-block; vertical-align: middle; background: url(images/tipIcon.png) no-repeat;}
.errorTip5{ width:16px; height:16px; background-position: -180px -70px;}


/* 招商修改 2016-5-6 石怡 */
.mode-green {
	background: url(../images/pic06.png) top center no-repeat;
}
.mode-green.mode-on {
	background-image: url(../images/picon06.png);
	color: #86c300;
}
.mode-green.mode-on span {
	border-bottom-color: #86c300;
}
.mode-green.mode-on span:after {
	border-top-color: #86c300;
}
.mode-col{width:16%;}
.mode-lianying .mode-banner{background:#79a814 url('images/banner-green.png') no-repeat top center;}
.mode-lianying .mode-banner .btn{color:#79a814;}
.mode-lianying h1{font-size:16px; font-weight:normal;}
.mode-lianying .s-standard p{text-indent:2em;}
.mode-lianying .join-now{background:#86c300; border-bottom:2px solid #83a33d;}
.mode-lianying .require-content aside h4, .mode-lianying .require-detail .table-bordered th{background:#86c300;}
.mode-lianying .require-detail .table-bordered th{border:1px solid #b7db66;}
.mode-lianying .table-green th{background:#86c300; border:1px solid #b7db66; color:#fff;}
.mode-lianying .menu-bar{background:#f3f9e5;}
.mode-lianying h4{line-height:28px; font-size:14px;}
.mode-lianying .aside-toolbar-link:hover{background:#86c300;}
.ml190{margin-left:190px;}

.notice{margin:0 20px; padding:20px 20px 15px; background:#fffff0; border:1px solid #ffcc66;}
.notice i{float:left; width:32px; height:32px; margin:1px 10px 0 0; background:url("images/tipIcon.png") no-repeat -120px -140px;}
.notice p{padding-left:42px; font-size:12px; color:#666; line-height:18px;}
.notice em{display:block; line-height:32px; font-weight:bold; font-size:14px; font-style:normal; color:#333;}

.channel-wap{margin:0 20px;}
.channel-left{float:left; width:270px; margin:56px 20px 0 0; text-align:center;}
.channel-left p{font:bold 20px/38px 'MicroSoft Yahei'; color:#f6a200;}
.channel-right{float:left; width:860px; margin-top:10px;}
.channel-right em{float:left; width:100px; font:normal 14px/30px 'MicroSoft Yahei'; color:#333; text-align:right;}
.channel-right span, .channel-right div{float:left; width:750px; font:normal 14px/30px 'MicroSoft Yahei'; color:#666;}
.channel-right table{margin-top:8px;}
.channel-right th{padding:5px 0; background:#f5f5f5; border:1px solid #e1e1e1;}
.channel-right td{padding:5px 0; border:1px solid #e1e1e1;}
.channel-right .s-tl{padding-left:20px; text-align:left;}=======
}


/*招商大会 2016-04-25 15041200  霍维维*/
.meeting-select{padding: 22px 0;background: #fff;border-bottom:1px solid #efefef;}
.plan-select.detail{border: none;padding-bottom:0;margin: 0;}
.meeting-content h3{margin-top:40px;margin-bottom:20px;font-size: 18px;color: #333;font-weight: bold;}
.meeting-list{padding: 0;margin-left: -23px;}
.meeting-list >li{float: left;width: 278px;border: 1px solid #e0e0e0;margin-left: 23px;margin-bottom: 25px;}
.meeting-list >li .img-div{display:block;width: 278px;overflow: hidden;position: relative;}
.meeting-list >li .img-div img{width: 100%;height: 100%;}
.meeting-list >li .img-div .start-mask{position: absolute;background: #000;width: 30px;height: 30px;border-radius: 30px;bottom: 20px;left: 20px;opacity: .5;filter:alpha(opacity=50);}
.meeting-list >li .img-div .start{position: absolute;width: 16px;height: 14px;bottom: 27px;left: 27px;}
.meeting-list >li .img-div .signed{position: absolute;bottom: 27px;left: 55px;color: #fff;display: none;}
.meeting-list .list-mid{padding: 20px;background: #fff;}
.meeting-list .list-mid .title{font-size: 15px;font-weight: bold;color: #343434;height: 22px;line-height: 22px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.list-dl{margin: 10px 0;}
.list-dl >dt{float: left;width: 72px;}
.list-dl >dd{height: 24px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.data-pos img{vertical-align: middle;margin-top: -1px;margin-right: 5px;}
.data-pos span{color: #aaa;}
.meeting-list .list-bottom{border-top: 1px dashed #e5e5e5;text-align: center;background: #fff;}
.meeting-list .sign{display: inline-block;width: 207px;border: 1px solid #ff7700;text-align: center;color: #ff7700;padding: 5px 0;margin: 20px 0;font-weight: bold;font-size: 15px;border-radius: 20px;}
.meeting-list .sign1{display: inline-block;width: 207px;border: 1px solid #ddd;text-align: center;color: #fff;padding: 5px 0;margin: 20px 0;font-weight: bold;font-size: 15px;border-radius: 20px;background:#ddd;cursor:default;}
.meeting-list .sign:hover{background: #ff7700;color: #fff;}
.check-more{text-align: center;margin: 20px 0 60px 0;}
.check-more a{display: inline-block;width: 186px;font-size: 14px;font-weight: bold;background: #e5e5e5;color: #666;text-align: center;padding: 10px 0;border-radius: 20px;}
.check-more a:hover{color:#ff7700; }
.popM-warp{padding: 20px 20px 0 20px;text-align: center;background: #fff;}
.line-dashed{border-top: 1px dashed #f0f0f0;margin: 20px 0;}
.popM-form{font-size: 14px;color: #777;}
.popM-form i{color: #ff0000;vertical-align: middle;margin-right: 5px;font-style: normal;}
.popM-form dt{float: left;height: 36px;width: 120px;text-align: right;line-height: 36px;}
.popM-form dd{text-align: left;height: 40px;}
.popM-form input{width: 188px;padding: 0 5px;padding: 5px \9;height: 30px;height: 22px \9;border: 1px solid #ddd;}
.popM-form .select{width: 200px;padding: 0 5px;padding: 5px \9;height: 30px;height: 30px \9;border: 1px solid #ddd;}
.popM-bottom{background: #fff;border-top:1px solid #f0f0f0;padding: 20px 0 20px 0;text-align: center; }
.popM-bottom a{display:block;width: 140px;padding: 8px 0;background: #ff7700;color: #fff;text-align: center;border-radius: 20px;font-size: 14px;margin-left: 140px;}
.plan-select .Wdate{padding: 0 5px;padding:5px \9;height: 32px;height: 22px \9;border: 1px solid #ddd;width: 100px;vertical-align: top;}
.plan-select.detail .wide-select{width: 120px;}
.plan-select.detail .search{padding: 0 5px; padding: 5px \9;height: 32px;height: 22px \9;border: 1px solid #ddd;width: 180px;vertical-align: middle;margin-top: -3px;}
.plan-select.detail .search-btn{height: 34px;width: 65px;line-height: 34px;font-size: 14px;color: #fff;text-align: center;background: #3092ee;display: inline-block;margin-left: -5px;vertical-align: middle;margin-top: -3px;}
/*招商大会详情*/
.meetingDet{padding: 40px 0;}
.meetingDet .pic{width: 550px;height: 416px;overflow: hidden;float: left;}
.meetingDet .detail{float: left;border:1px solid #eee;background: #fff;padding: 20px;margin-left: 20px;width: 578px;height: 374px;position: relative;}
.meetingDet .detail .mark-pic{position: absolute;top: 35px;right: -10px;}
.meetingDet .detail .mark-icon{position: absolute;top: 75px;right: -10px;}
.meetingDet .detail h3 {font-size: 20px;font-weight: bold;color: #000;margin-bottom: 12px;width: 515px;overflow: hidden;height: 26px;white-space: nowrap;text-overflow: ellipsis;}
.meetingDet .detail p{color: #888;margin: 5px 0;}
.meetingDet .detail p img{vertical-align: top;margin-right: 5px;margin-top: 1px;}
.meetingDet .detail .qr{width: 578px;height: 70px;background: #f6f6f6;margin: 0;padding: 0;}
.meetingDet .detail .qr li{float: left;}
.meetingDet .detail .sign{width: 274px;height: 70px;line-height: 70px;padding-left: 26px;}
.meetingDet .detail .sign img{vertical-align: middle;margin-right: 10px;}
.meetingDet .detail .qr-pic{width: 130px;height: 70px;line-height: 70px;text-align: center;cursor: pointer;position: relative;}
.meetingDet .detail .qr-pic .qr-icon{position: absolute;top: 70px;left: 0;width: 130px;background: #fff;height: 130px;padding-top: 10px;overflow: hidden;display: none;}
.meetingDet .detail .qr-pic:hover{background: #fbfbfb;}
.meetingDet .detail .qr-pic:hover .qr-icon{display: block;}
.meetingDet .detail .sign-btn{display: block;width: 180px;padding: 5px 0;font-weight: bold;font-size: 14px;background: #ff7700;color: #fff;text-align: center;border-radius: 20px;}
.meetingDet .detail .sign-btn1{display: block;width: 180px;padding: 5px 0;font-weight: bold;font-size: 14px;background: #bbb;color: #fff;text-align: center;border-radius: 20px;cursor:default;}
.project-title{background: #fff;height: 69px;border-bottom: 1px solid #efefef;    line-height: 69px;}
.project-title h3{font-size: 18px;font-weight: bold;color: #333;width: 100px;border-bottom: 4px solid #3092ee;height: 66px;line-height: 80px;text-align: center;}
.project-info{background: #fff;padding-bottom: 60px;}
.project-info p{text-indent:2em ;font-size: 14px;line-height: 26px;color: #666;padding: 30px 0;}
.tipIcon{ display: inline-block; vertical-align: middle; background: url(images/tipIcon-1.png) no-repeat;}
.errorTip5{ width:16px; height:16px; background-position: -180px -70px;}
.fitTip3{ width:32px; height:32px; background-position: -120px 0;}
